:root {
    --blur: 10px;
    --custom-homepage-bkg: url('https://w.wallhaven.cc/full/85/wallhaven-8586my.png');
    --custom-homepage-bkg-color: #555;
    --header-bkg-color: #111;
    --header-border-color: #333;
    --brand-color: #ff3355;
    --brand-color-dark: #811224;
    --brand-color-light: #ffa0b0;

    --brand-color-dark-opaque: #811224aa;

    --shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.25);
}

* {
    color: #fff;
}

body, html {
    background: var(--custom-homepage-bkg-color);
    background-image: var(--custom-homepage-bkg);

    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: multiply;
}

a, a:hover ,a:focus {
    color: var(--brand-color);
}
.attr-action-icon:hover {
    color: var(--brand-color) !important;
}
span, p, dd {
    color: #fff;
}
.account-popup a.item {
    color: #fff !important;
}
.account-popup a.item:hover {
    background-color: #333;
}
.account-popup .item {
    border-bottom: none;
}

input, textarea, .form-control {
    background-color: #3c3c3c;
    color: #fff;
    border: 1px solid #444 !important;
}
input:focus, textarea:focus, .form-control:focus {
    background-color: #3c3c3c;
    color: #fff;
    border: 1px solid #555 !important;
}
.form-control:disabled {
    opacity: 0.5;
    background-color: #33333333;
    color: #fff;
    border: 1px solid #444 !important;
}

.text-secondary,
.old-history-main h2 {
    color: #fff !important;
}
h1, h2, h3, h4, h5, h6 {
    color: #fff;
}

h3.sf-heading {
    color: #fff;
}

/* button {
    background: linear-gradient(to bottom, #555, #333);
    color: #fff;
    border: 1px solid #444 !important;
} */



/* colors */

.old-history-main .file-name,
.big-btn-link,
.op-target,
.old-history-main .commit-list .username {
    color: var(--brand-color);
}
.op-icon {
    color: var(--brand-color);
}
.op-icon:hover, .op-icon:focus {
    color: var(--brand-color-dark);
}

/*  */

.btn-primary {
    background-color: var(--brand-color);
    border-color: var(--brand-color);
    color: #fff;
}
.btn-primary:hover {
    background-color: var(--brand-color-dark);
    border-color: var(--brand-color-dark);
    color: #fff;
}
.btn-primary:focus {
    background-color: var(--brand-color-dark);
    border-color: var(--brand-color-dark);
    box-shadow: 0 0 0 0.2rem var(--brand-color-dark-opaque);
}
.btn-primary.disabled, .btn-primary:disabled {
    background-color: #333;
    border-color: #444;
    color: #fff;
}
.btn-outline-primary {
    border-color: var(--brand-color);
    color: var(--brand-color);
}
.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:not(:disabled):not(.disabled):active {
    background-color: var(--brand-color-dark);
    border-color: var(--brand-color);
    color: #fff;
    box-shadow: 0 0 0 0.1rem var(--brand-color-dark-opaque);
}
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:focus {
    box-shadow: 0 0 0 0.3rem var(--brand-color-dark-opaque);
}
.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: var(--brand-color);
    border-color: var(--brand-color);
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show>.btn-primary.dropdown-toggle {
    background-color: var(--brand-color-dark);
    border-color: var(--brand-color-dark);
    box-shadow: none !important;
    color: #fff;
}

.btn-secondary {
    background-color: #333 !important;
    border-color: #444 !important;
    color: #fff !important;
}
.btn-secondary:hover {
    background-color: #555 !important;
    border-color: #666 !important;
    color: #fff !important;
}
.btn-secondary.disabled, .btn-secondary:disabled {
    background-color: #333;
    border-color: #444;
    color: #fff;
}

button.operation-item {
    background-color: #333;
    border-color: #444;
    color: #fff;
}

/* upload button */

button.big-new-file-button {
    background-color: var(--brand-color-dark);
    border-color: var(--brand-color) !important;
    color: #fff;
}
button.big-new-file-button:hover {
    color: var(--brand-color-light);
}

/* add button */

.add-item-btn {
    background-color: var(--brand-color-dark);
    border-color: var(--brand-color) !important;
    color: #fff;
}
.add-item-btn:hover {
    background-color: var(--brand-color);
    border-color: var(--brand-color) !important;
    color: #fff;
}
/* tags */
.tag-list-item.hl {
    background-color: #2222228a;
    outline: 1px solid #333;
    outline-offset: -1px;
    border-radius: 4px;
    color: #fff;
}
.list-tag-popover .tag-list-footer .item-text {
    color: var(--brand-color)
}
.list-tag-popover .add-tag-link {
    color: var(--brand-color)
}
.list-tag-popover .add-tag-link:hover {
    background-color: #333;
}
/*  */
.action-icon:focus, .action-icon:hover {
    color: var(--brand-color) !important;
}
/* group */

.btn-group button {
    background-color: #333;
    border-color: #444;
    color: #fff;
}
.btn-group button.current-mode {
    background-color: var(--brand-color) !important;
    border-color: var(--brand-color) !important;
    color: #fff;
}

.path-toolbar .toolbar-item a:hover {
    color: var(--brand-color) !important;
}

/* submits */

.rename-container input:focus,
input[type=submit]:hover, 
input[type=reset]:hover, 
input[type=button]:hover, 
button:hover, .sf-btn-link:hover, .fileinput-button:hover {
    background-color: #333;
    color: #fff;
}
.form-control:disabled, .form-control[readonly] {
    background-color: #333;
    color: #fff;
    outline: 1px solid #444;
    outline-offset: -1px;
}
/* BKG */

div#main:not(.w100) {
    background: var(--custom-homepage-bkg-color);
    background-image: var(--custom-homepage-bkg);

    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: multiply;
}

/* headers */

#header,
div.top-header ,
.shared-file-view-md-header,
.file-view-header {
    z-index: 3;
    background: transparent;
    border-bottom: none;
    /* background-color: var(--header-bkg-color);
    border-bottom: 1px solid var(--header-border-color); */
}
.cur-view-toolbar {
    background-color: transparent !important;
    border-bottom: none !important;
}
div.sf-md-viewer-topbar-first {
    background-color: var(--header-bkg-color) !important;
    border-bottom: 1px solid var(--header-border-color) !important;
}
.side-panel-north, .main-panel-north {
    border-bottom: none !important;
    background-color: transparent !important;
    background: none !important;
    /* backdrop-filter: blur(var(--blur)) !important; */
}
.main-panel-north {
    border-bottom: 1px solid var(--header-border-color) !important;
}
.nav-pills .nav-item .nav-link {
    color: #fff;
}
.nav-pills .nav-item .nav-link:hover {
    background-color: #333;
}
.nav:not(.nav-pills) .nav-item .nav-link.active {
    color: var(--brand-color) !important;
    border-bottom: 2px solid var(--brand-color) !important;
}

/* Panels */

.new-narrow-panel {
    overflow: hidden;
    background-color: #2222228a;
    border: 1px solid #333;
    backdrop-filter: blur(var(--blur));
    border-radius: 8px;
    box-shadow: var(--shadow);
}
.new-narrow-panel > .hd {
    background-color: #333;
    border-bottom: 1px solid #444;
}

/* pops */

.sf-popover,
.sf-header-menu .sf-header-popover,
.popover,
.image-popover,
.sf-context-menu.sf-dropdown-list {
    background-color: #222222;
    border: 1px solid #333;
    border-radius: 8px;
    box-shadow: var(--shadow);
}
.sf-slate-editor-toolbar .sf-slate-article-info-control:hover {
    background-color: var(--brand-color-dark);
    border: 1px solid var(--brand-color);
    border-radius: 4px;
}
.sf-header-menu .sf-header-toggle.sf-header-popover-showed, .sf-header-menu .sf-header-toggle:not(.header-toggle-disabled):hover {
    color: var(--brand-color);
    background-color: #2222228a;
    border-radius: 4px;
}
.sf-header-menu .sf-header-toggle .iconfont {
    color: #fff;
}
.sf-header-menu .sf-header-popover .sf-dropdown-menu-item:hover {
    margin-left: 4px;
    margin-right: 4px;
    background-color: #333;
    outline: 1px solid #444;
    border-radius: 4px;
    color: #fff;
    width: auto;
}
.sf-context-menu .sf-context-menu-item {
    margin-left: 4px;
    color: #fff;
    background-color: transparent;
}
.sf-context-menu .sf-context-menu-item:hover {
    background-color: #333;
    outline: 1px solid #444;
    border-radius: 4px;
    color: #fff;
}

#lang-context-selector a {
    color: #fff;
}
#lang-context-selector a:hover {
    background-color: #222222cd;
    outline: 1px solid #333;
    border-radius: 4px;
}

.popover .notification-container {
    background-color: #222222;
    border: 1px solid #333;
    border-radius: 8px;
    box-shadow: var(--shadow);
}
.popover .notification-container .notification-header {
    background-color: #333;
    border-bottom: 1px solid #444;
}
.popover .notification-container .notification-body .mark-notifications {
    border-bottom: 1px solid #444;
}
.popover .notification-container .notification-body .notification-footer {
    background-color: #333;
    border-top: 1px solid #444;
}
/* #notice-popover li */
.popover .notification-container .notification-body #notice-popover li {
    background-color: transparent;
    border-bottom: none;
}
/* #notice-popover li.unread */
.popover .notification-container .notification-body #notice-popover li.unread {
    border-left-color: var(--brand-color);
    background: linear-gradient(to right, var(--brand-color) 0px, #2222228a 50px); 
}
.notification-dialog-body table tbody tr:hover {
    background-color: #333;
    outline: 1px solid #444;
    border-radius: 4px;
}
.notification-dialog-body table td {
    border-bottom: none;
    color: #fff;
}
.notification-header-close .item-dropdown-icon,
.notification-header-close .notification-close-icon {
    color: #fff;
}
.notification-header-close .item-dropdown-icon:hover,
.notification-header-close .notification-close-icon:hover {
    color: #fff;
}


/*  */

.dropdown-menu {
    background-color: #2222228a;
    border: 1px solid #333;
    backdrop-filter: blur(var(--blur));
    border-radius: 8px;
    box-shadow: var(--shadow);
    padding: 4px;
}
.dropdown-menu.show {
    gap: 4px;
    display: flex;
    flex-direction: column;
}

.dropdown-menu .dropdown-item {
    background-color: #2222228a;
    border: 1px solid #333;
    border-radius: 4px;
    color: #fff;
}
.dropdown-menu .dropdown-item:hover {
    background-color: #333;
    outline: 1px solid #444;
    border-radius: 4px;
    color: #fff;
}

/* LOGIN */
.login-panel-outer-container .login-panel{
    background-color: #2222228a;
    border: 1px solid #333;
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));
    border-radius: 8px;
    box-shadow: var(--shadow);
}
.login-panel .submit:focus {
    border-color: var(--brand-color);
}
/* MODAL */

div.modal .modal-dialog .modal-header {
    background-color: #2222228a;
    border-bottom: 1px solid #444;
}
div.modal .modal-dialog .modal-footer {
    background-color: #2222228a;
    border-top: 1px solid #444;
}
div.modal .modal-dialog .modal-content {
    background-color: #2222228a;
    border: 1px solid #333;
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));
    border-radius: 8px;
    box-shadow: var(--shadow);
}

/* SIDE */
.side-panel {
    border-right: none;
}
.side-panel.o-auto {
    border-right: none;
    background: #2222228a;
    border: 1px solid #333;
    border-left: none;
    box-shadow: var(--shadow);
    padding: 8px;
}
.side-panel-center, .side-panel-footer {
    border-right: 1px solid transparent;
}
.side-nav-footer {
    background-color: transparent;
    border-top: 1px solid transparent;
}
.side-nav-footer .item {
    color: #fff;
}

/* mains */
.main-panel {
    position: relative;
    z-index: 2;
}
.main-panel::before
/* #main::before ` */
{
    background-color: #22222263;
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.main-panel .heading::after,
.main-panel .cur-view-path.tab-nav-container::after {
    content: none;
}
.main-panel .main-panel-center,
.main-panel .content  {
    z-index: 2;
    position: relative;
}

.main-panel .heading {
    background-color: #2222228a;
    border: 1px solid #333;
    color: white;
    backdrop-filter: blur(var(--blur));
    border-radius: 8px;
    box-shadow: var(--shadow);
    margin: 4px;
}
.main-panel .cur-view-path.tab-nav-container {
    background-color: #2222228a !important;
    border: 1px solid #333;
    backdrop-filter: blur(var(--blur));
    border-radius: 8px;
    box-shadow: var(--shadow);
    margin: 4px;
}
.main-panel .cur-view-path.tab-nav-container .nav .nav-item .nav-link.active {
    color: var(--brand-color) !important;
    border-bottom: 2px solid var(--brand-color) !important;
}
.main-panel .statistic-traffic-tab {
    background: linear-gradient(to top, #2222228a , transparent );
    border-bottom: 1px solid #333;
}
.main-panel .statistic-traffic-tab .statistic-traffic-tab-item.active,
.main-panel .statistic-traffic-tab .statistic-traffic-tab-item:hover {
    color: var(--brand-color) !important;
    border-bottom: 2px solid var(--brand-color) !important;
}
.old-history-main .commit-list {
    position: relative;
    z-index: 2;
}
.old-history-main .commit-list::before {
    position: absolute;
    z-index: -1;
    top: -4px;
    left: -8px;
    width: calc(100% + 16px);
    height: calc(100% + 12px);
    content: "";
    background-color: #22222263;
    border: 1px solid #333;
    backdrop-filter: blur(var(--blur));
    border-radius: 8px;
    box-shadow: var(--shadow);
}

/* #main>.row>#main-panel,
#main>.row>#main-panel>.text-panel,
#main>.text-panel {

    overflow: visible;
    position: relative;
    z-index: 2;
}
#main>.row>#main-panel>.text-panel>p,
#main>.text-panel>p {
    position: relative;
    font-weight: bold;
}
#main>.row>#main-panel>.text-panel>p::before,
#main>.text-panel>p::before {
    background-color: #22222263;
    backdrop-filter: blur(var(--blur));
    box-shadow: var(--shadow);
    content: "";
    font-size: 64px;
    text-align: left;
    position: absolute;
    border: 1px solid #333;
    border-radius: 8px;
    top: -24px;
    left: 0px;
    width: 100%;
    height: calc(100% + 48px);
    z-index: -1;
} */

/* dirs */

.cur-view-container {
    z-index: 2;
}

.dir-content-nav {
    z-index: 2;
    background-color: transparent;
}
.dir-content-nav .tree-node-hight-light {
    background-color: var(--brand-color) !important;
}
.dir-content-nav .tree-view {
    color: #fff;
}
.dir-content-nav .tree-node-inner-hover {
    background-color: #333;
}

.cur-view-path {
    background-color: transparent !important;
    border-bottom: 1px solid transparent !important;
}
.cur-view-path .path-link {
    color: var(--brand-color) !important;
}
.cur-view-path::after {
    content: none;
}
.cur-view-path .path-container span ,
.cur-view-path h3 {
    color: #fff;
}

.shared-dir-view-main .table-hover {
    position: relative;
    z-index: 2;
}
.shared-dir-view-main .table-hover::before {
    content: "";
    background-color: #22222263;
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));
    border: 1px solid #333;
    box-shadow: var(--shadow);
    position: absolute;
    top: -4px;
    left: -8px;
    width: calc(100% + 16px);
    height: calc(100% + 12px);
    border-radius: 8px;
    z-index: -1;
}
.shared-dir-view-main .table-hover thead ,
.shared-dir-view-main .table-hover tbody {
    position: relative;
    z-index: 10;
}

/* table */

table tr:not(.tr-highlight):hover {
    background-color: #333;
    outline: 1px solid #444;
    border-radius: 4px;
}
table th {
    border-bottom: none;
    color: white;
}
table td {
    color: white;
    border-bottom: none;
}
.dirent-table-container th,
.dirent-table-container td {
    color: white;
}

.tr-highlight {
    background-color: #22222263 !important;
    border-radius: 8px;
    outline: 1px solid #333;
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));
    box-shadow: var(--shadow);
}
.tr-active {
    background-color: #555 !important;
}

/* grid */

.grid-view .grid-item {
    background-color: #2222228a;
    border: 1px solid #333;
    border-radius: 8px;
    box-shadow: var(--shadow);
    margin: 4px;
}
.grid-view .grid-item:hover .grid-file-img-link {
    background-color: var(--brand-color-dark);
    outline: 1px solid var(--brand-color);
}
.grid-view .grid-item:hover a {
    color: var(--brand-color);
}
.grid-file-name-link {
    color: #fff;
}

/* brand colors */
.nav-pills .nav-item .nav-link.active {
    background-color: var(--brand-color);
    color: #fff;
}
.nav-pills .nav-item .nav-link.active:hover {
    background-color: var(--brand-color);
    color: #fff;
}

/*  */
.user-setting-nav .nav-item .nav-link {
    color: #fff;
}
.user-setting-nav .nav-item.active .nav-link {
    border-color: var(--brand-color);
    color: var(--brand-color);
}
.user-setting-nav .nav-item .nav-link:hover {
    color: var(--brand-color);
}


/* file view */
.file-view-body {
    background-color: rgba(0, 0, 0, 0);
}
.file-view-content {
    background-color: #22222263;
    border-radius: 8px;
    border: 1px solid #333;
    backdrop-filter: blur(var(--blur));
    box-shadow: var(--shadow);
    margin: 10px;
}
.text-file-view .cm-editor {
    background-color: #22222263;
    border: 1px solid #333;
    box-shadow: var(--shadow);
    backdrop-filter: blur(var(--blur));
}
.file-view-content .cm-theme-light {
    --cm-background: #222;
    --cm-gutters: #2c2c2c;
    --cm-selection: #338;
    --cm-cursor: #fff;
}
.file-view-content .cm-theme-light .ͼ15 {
    background-color: var(--cm-background);
}
.cm-theme-light .cm-gutters {
    background-color: var(--cm-gutters);
    border-color: var(--cm-gutters);
}
.file-view-content .cm-theme-light .cm-gutters .cm-gutter.cm-foldGutter {
    background-color: var(--cm-gutters);
}
.file-view-content .cm-theme-light .cm-selectionMatch {
    background-color: var(--cm-selection);
}
.file-view-content .ͼ1 .cm-cursor,
.file-view-content .ͼ1 .cm-dropCursor {
    border-color: var(--cm-cursor);
}

/*  */
.sf-view-mode-btn.current-mode {
    background-color: var(--brand-color-dark) !important;
    border-color: var(--brand-color) !important;
    color: #fff;
}

.sf-md-viewer-topbar-first, 
.sf-md-viewer-topbar-first-narrow {
    z-index: 8;
    background-color: #22222263 !important;
    border-bottom: 1px solid #333 !important;
    backdrop-filter: blur(var(--blur)) !important;
}
.sf-slate-editor-container .btn-group {
    border-right: 1px solid #333;
}
.sf-slate-editor-container .sf-slate-editor-content {
    background-color: transparent;
}
.sf-slate-editor-container .sf-slate-scroll-container {
    background-color: #22222263;
}
.sf-slate-editor-container .sf-slate-editor-toolbar {
    background-color: #22222263 !important;
    border: none;
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur));
    border-bottom: 1px solid #333;
    box-shadow: var(--shadow);
}
.sf-slate-editor-toolbar .menu-group .menu-group-item {
    background-color: #2222228a;
    border: 1px solid #333;
    color: #fff;
}
.sf-slate-editor-toolbar .menu-group .sf-icon-btn-disabled{
    opacity: 0.5;
}
.sf-slate-article-container .article {
    background-color: #222222 !important;
}
.sf-markdown-help-wrapper.active {
    background-color: #22222263;
    border-radius: 8px;
    border: 1px solid #333;
    backdrop-filter: blur(var(--blur));
    box-shadow: var(--shadow);
    margin: 0 10px;
}
.sf-markdown-help-wrapper.active .sf-article-info-container {
    background-color: #22222263;
}
.sf-markdown-help-wrapper.active .sf-article-info-container .nav {
    background-color: #22222263;
    border-radius: 8px;
    border: 1px solid #333;
    backdrop-filter: blur(var(--blur));
    box-shadow: var(--shadow);
    margin: 10px;
}
.sf-markdown-help-wrapper.active .sf-article-info-container .outline-h2,
.sf-markdown-help-wrapper.active .sf-article-info-container .outline-h3 {
    color: #fff;
}
.sf-markdown-help-wrapper.active .sf-article-info-container .outline-h2:hover,
.sf-markdown-help-wrapper.active .sf-article-info-container .outline-h3:hover {
    color: var(--brand-color);
}

/* file upload */

#upload-link-drop-zone {
    background: var(--brand-color-dark-opaque);
    border: 2px dashed var(--brand-color);
    border-radius: 4px;
    padding: 28px 0;
}
#upload-link-drop-zone .upload-icon {
    color: var(--brand-color);
}
.upload-progress .progress .progress-bar {
    background-color: var(--brand-color);
    border-color: var(--brand-color);
}
/* shared body */
/* normal */
.shared-file-view-head h2 {
    color: #fff;
}
.shared-file-view-body {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}
.shared-file-view-head,
.op-bar {
    background-color: #22222263;
    border-radius: 8px;
    border: 1px solid #333;
    backdrop-filter: blur(var(--blur));
    box-shadow: var(--shadow);
    margin: 10px auto;
    padding: 0 10px;
}
/* sf */
.article table tr:nth-child(2n+1){
    background-color: #444 !important;
}
.sf-table-container .selected-cell {
    background-color: var(--brand-color-dark) !important;
}
.sf-table-container .selected-cell-left:before,
.sf-table-container .selected-cell-right:before,
.sf-table-container .selected-cell-top:before,
.sf-table-container .selected-cell-bottom:before {
    border-color: var(--brand-color) !important;
}
.sf-slate-viewer-scroll-container {
    background-color: transparent;
}
.sf-lang-selector {
    background-color: #222;
}
.shared-file-view-body.md-view .sf-slate-viewer-scroll-container .sf-slate-viewer-article-container {
    background-color: transparent;
}
.shared-file-view-body.md-view .sf-slate-viewer-outline {
    background-color: #22222263;
    border-radius: 8px;
    border: 1px solid #333;
    backdrop-filter: blur(var(--blur));
    box-shadow: var(--shadow);
    margin: 0 10px;
}
.shared-file-view-body.md-view .sf-slate-viewer-outline .outline-h2,
.shared-file-view-body.md-view .sf-slate-viewer-outline .outline-h3 {
    color: #fff;
}
.shared-file-view-body.md-view .sf-slate-viewer-outline .outline-h2:hover,
.shared-file-view-body.md-view .sf-slate-viewer-outline .outline-h3:hover {
    color: var(--brand-color);
}


/* sf document */
.sf-code-block-container {
    background-color: #22222263;
    border: 1px solid #333;
}

.dir-content-main .sf-slate-viewer-scroll-container {
    background-color: #222222;
    border-radius: 8px;
    border: 1px solid #333;
    box-shadow: var(--shadow);
}
.dir-content-main .sf-slate-viewer-scroll-container .article {
    background-color: #222222 !important;
}
.article pre {
    background-color: transparent;
}
.shared-file-view-body.md-view .sf-slate-viewer-scroll-container .article {
    background-color: #222222 !important;
}

/* windwos */
.detail-container {
    border-left: none !important;
    background-color: #222222 !important;
    border-radius: 8px;
    border: 1px solid #333 !important;
    box-shadow: var(--shadow) !important;
    margin: 10px !important;
}
.detail-container .detail-header {
    background-color: #333;
    border-bottom: 1px solid #444;
}
.cur-view-path .sf-heading a {
    color: var(--brand-color) !important;
}
.uploader-list-view,
.cur-view-detail {
    background-color: #222222;
    border-radius: 8px;
    border: 1px solid #333;
    box-shadow: var(--shadow);
    overflow: hidden;
}
.uploader-list-header,
.cur-view-detail .detail-header {
    background-color: #333;
    border-bottom: 1px solid #444;
}
.detail-header .detail-title .name {
    color: #fff;
}
.uploader-list-content,
.cur-view-detail .detail-body {
    background-color: #222222;
}

/* random */

.rc-calendar {
    background-color: #222222 !important;
    border: 1px solid #333 !important;
    border-radius: 8px !important;
    box-shadow: var(--shadow) !important;
}
.rc-calendar-disabled-cell .rc-calendar-date {
    background-color: #333 !important;
    color: #666 !important;
}
.rc-calendar-disabled-cell .rc-calendar-date:hover {
    background-color: #343434 !important;
}
.rc-calendar-date {
    color:white !important;
}
.rc-calendar-selected-day .rc-calendar-date {
    background-color: var(--brand-color-dark) !important;
    color: #fff !important;
}
.rc-calendar-date:hover {
    background-color: var(--brand-color-dark) !important;
    color: #fff !important;
}
.rc-calendar-today .rc-calendar-date {
    border-color: var(--brand-color-dark) !important;
    background-color: var(--brand-color) !important;
    color: #fff !important;
}
.rc-calendar-selected-date .rc-calendar-date {
    background: var(--brand-color-dark) !important;
}
.rc-calendar-selected-date .rc-calendar-date:hover {
    background: var(--brand-color-dark) !important;
}
.rc-calendar-ok-btn, .rc-calendar-time-picker-btn, .rc-calendar-today-btn {
    color: var(--brand-color) !important;
}
.rc-calendar-right-panel-body .rc-calendar-selected-time {
    background-color: var(--brand-color-dark) !important;
    color: #fff !important;
}
.rc-calendar-right-panel-body ul li:hover {
    color: var(--brand-color) !important;
    background-color: #333;
    outline: 1px solid #444;
    border-radius: 4px;
}

.rc-calendar-date-panel-container,
.rc-calendar-year-panel-body,
.rc-calendar-decade-panel {
    background-color: #222222 !important;
}
.rc-calendar-year-panel-selected-cell .rc-calendar-year-panel-year,
.rc-calendar-year-panel-selected-cell .rc-calendar-year-panel-year:hover {
    background-color: var(--brand-color-dark) !important;
    color: #fff !important;
}

/* PDF */
#sidebarContainer {
    background-color: #222;
    border-right: 1px solid #333;
    box-shadow: var(--shadow);
}
#sidebarContainer>#toolbarSidebar {
    background-color: #444;
    border-bottom: 1px solid #333;
    box-shadow: var(--shadow);
}
#thumbnailView .thumbnail.selected {
    background-color: var(--brand-color-dark);
    border: 1px solid var(--brand-color);
}
#thumbnailView .thumbnail.selected .thumbnailImage {
    border-color: var(--brand-color);
}

/* admin */

.sys-stat-tool > div:hover {
    background-color: var(--brand-color-dark);
    border-color: var(--brand-color);
    color: #fff;
}
.sys-stat-tool div.item-active {
    background-color: var(--brand-color-dark);
    border-color: var(--brand-color);
    color: #fff;
}

/* cards */
.empty-tip {
    color: #fff;
    background-color: #22222263;
    border-radius: 8px;
    border: 1px solid #333;
    backdrop-filter: blur(var(--blur));
    box-shadow: var(--shadow);
}
.empty-tip h2 {
    color: #fff !important;
}
.file-view-tip {
    color: #fff;
    background-color: #22222263;
    border-radius: 8px;
    border: 1px solid #333;
    backdrop-filter: blur(var(--blur));
    box-shadow: var(--shadow);
}
@media (max-width: 767px) {
    .side-panel {
        background-color: #222 !important;
    }
    .side-panel-center, .side-panel-footer {
        border-right: 1px solid #333;
    }
    .side-panel .side-nav-footer {
        background-color: #111;
        border-top: 1px solid #333;
    }
}
@media (min-width: 768px) {
    .side-panel {
        z-index: 3;
    }
    .side-panel-center, .side-panel-footer {
        border-right: 1px solid #333;
    }
    /* .side-panel > .side-panel-center {
        background-color: #22222263;
        border-top: 1px solid #333;
    } */
    .side-panel > .side-panel-footer .side-nav-footer {
        background-color: #222222cd;
        border-top: 1px solid #333;
    }
}
@media (max-width: 991.8px) {
    .sf-slate-editor-toolbar .sf-slate-article-info-control, .sf-slate-editor-toolbar .sf-slate-help-info-control {
        background-color: #2222228a;
        border: 1px solid #333;
        border-radius: 4px;
        box-shadow: var(--shadow);
    }
}
.css-1iiznvc, [data-css-1iiznvc],
.css-6lwhe4, [data-css-6lwhe4],
.css-16hxgpx, [data-css-16hxgpx],
.css-15agui6, [data-css-15agui6] {
    background-color: #2222228a !important;
    border-top: 1px solid #333 !important;
    border-right: 1px solid #333 !important;
    border-bottom: 1px solid #333 !important;
    box-shadow: var(--shadow) !important;
    backdrop-filter: blur(var(--blur)) !important;
}
.css-1tlqf55, [data-css-1tlqf55] {
    color: #fff !important;
}
.css-q7hwna {
    background-color: #2222228a;
    border: 1px solid #333;
    box-shadow: var(--shadow);
    padding: 4px;
}
.css-qr46ko,
.css-96n4yy,
.css-wjyke7 {
    background-color: #222;
    border: 1px solid #333;
    box-shadow: var(--shadow);
}
.react-select-2-listbox {
    background-color: #222;
    color: #fff;
    border: 1px solid #444 !important;
}
.css-4l7m3m-option {
    background-color: #3c3c3c !important;
    color: #fff;
    border: 1px solid #444 !important;
}
/* hover */
.css-1j5ra8z-option {
    background-color: var(--brand-color-dark) !important;
    color: #fff;
}
/* selected */
.css-1rug6pa-option {
    background-color: var(--brand-color-dark) !important;
    color: #fff;
    border: 1px solid var(--brand-color) !important;
}
/*  */
.system-admin-info {
    z-index: 2;
}

/* >dropbown */
.css-19bb58m,
#react-select-2-input,
#react-select-2-input.true__input,
.css-1jqq78o-placeholder {
    color: #fff !important;
}
/* user select */
.css-197s8nj-option {
    background-color: #222 !important;
}

.css-1yl8597-control,
.css-1p3m7a8-multiValue {
    background-color: #222 !important;
    border-color: #444 !important;
    color: #fff !important;
    box-shadow: var(--shadow);
}
.css-1yl8597-control:hover {
    background-color: #333 !important;
}
.css-1dimb5e-singleValue {
    color: #fff !important;
}

.css-18i9lch-control {
    background-color: #222 !important;
    color: #fff !important;
    box-shadow: var(--shadow) !important;
    border-color: var(--brand-color) !important;
}

.css-18i9lch-control:hover {
    background-color: #333 !important;
}

/* help desk */

.side-textnav>.side-nav-con {
    background-color: #2222228a;
    border-radius: 8px;
    border: 1px solid #333;
    box-shadow: var(--shadow);
}
.help-con.article {
    background-color: #2222228a;
    border-radius: 8px;
    border: 1px solid #333;
    box-shadow: var(--shadow);
}
.help-con.article .hd {
    color: #fff;
    background-color: #333 !important;
    border-bottom: 1px solid #444 !important;
}
.help-con.article pre {
    background-color: #2222228a;
    border-radius: 8px;
    border: 1px solid #333;
    box-shadow: var(--shadow);
    color: #fff;
}
